body {

    color: #fff;
}
/**
 ** header
 **/
.headContainer {
    height:1080px;
    width:100%;
}

.header h1{

	font-family: Impact;
	text-align: left;
	margin-left: 200px;
	font-size: 200px;
}

.header p{

	font-family: Impact;
	font-size: 100px;
	margin-left: 400px;
    margin-right: 200px;
}

.header h2{
	width:75%;
	font-family: Impact;
	text-align: left;
	font-size: 200px;
	margin-left: 800px;
}

/**
 ** menu @author Thomas
 **/
.menuContainer{
  width:1200px;
  position:relative;
  margin: 30px auto;
  overflow:hidden;
}

ul.menu {
	list-style: none;
}

li.menu-item{
  width:400px;
  position:relative;
  float:left;
  padding:20px;
}

.grid-hover{
  position: absolute;
  width:360px;
  height: 100%;
  top:0;
  background: white;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

.grid-hover:hover{
  opacity: 0.9;
}

.grid-hover h1{
  font-size:23px;
  bottom:80px;
  left:40px;
  position:absolute;
  text-transform:uppercase;
  color:#000000;
  letter-spacing:1px;
  font-weight:900;
  line-height:50px;
}

.grid-hover p{
  font-size:13px;
  bottom:40px;
  left:40px;
  position:absolute;
  color:#686868;
  letter-spacing:1px;
  font-weight:bold;
  line-height:50px;
}

li.menu-item img{
  width:360px;
  padding: 20px;
}

/**
 **footer
 **/
footer {
	height: 50px;
	background: #f1f1f1;
	width: 100%;
}

footer.footcontent {
	text-align: right;
}