body {

    color: #fff;
}

.headContainer {
    height:1080px;
}

.header h1{
	width: 75%;
	font-family: Impact;
	test-align: center;
	font-size: 200px;
}

.header p{
	width: 75%;
	font-family: Impact;
	test-align: center;
	font-size: 200px;
}

